@import 'tailwindcss';
/* globals.css */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro/sf-pro-regular.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro/sf-pro-semibold.OTF') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro/sf-pro-bold.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}

html {
    overflow: hidden;
}

body {
    font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
}

.main-grid-container {
    grid-template-columns: 56px 337px 1fr;
    @apply grid gap-4
}

input:-webkit-autofill {
    background-color: #27AE60 !important; /* Match your input's background */
    color: #27AE60 !important; /* Set your desired text color */
    -webkit-text-fill-color: #27AE60 !important; /* Ensures text color is applied */
    border: 1px solid #27AE60 !important; /* Match your input's border */
    transition: background-color 5000s ease-in-out 0s; /* Prevents flashing */
}

::selection {
    @apply bg-[#27AE60] text-white
}